<ion-view view-title="{{'favorites' | translate}} " cache-view="false">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="coin in coins" type="item-text-wrap" href="#/tab/favorites/{{coin.Id}}">
        <img ng-src="{{mediaUrl}}{{coin.ImageUrl}}">
        <h2>{{coin.FullName}}</h2>
        <p>{{'TotalCoinSupply' | translate}} : {{coin.TotalCoinSupply}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(coin)">
          {{'delete' | translate}} 
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
